/* --- SCHRIFTARTEN --- */
.rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

.playfair-regular {
  font-family: "Playfair", serif;
  font-weight: 400;
  font-style: normal;
}

.protest-strike-regular {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Dosis", sans-serif;
    background-color: #798675;
    color: #ffffff;
    line-height: 1.6;
    
    /* NEU: Flexbox für das Layout */
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header {
    background-color: #262e28;
    text-align: center;
    cursor: none;
    font-family: "Rubik Mono One", monospace;
}

footer {
    background-color: #262e28;
    padding: 0.1rem;
    text-align: center;
    cursor: text;
    flex-shrink: 0; 
}

.main-container {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
    flex: 1; 
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.card {
    background-color: #262e28;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

a {
    text-decoration: none;
    color: whitesmoke;
}

svg {
    color: rgb(90, 161, 90);
}

h1 {
    margin: 0.5rem 0;
    font-size: 5rem;
    color: rgb(113, 122, 124);
}

h2 {
    margin: 0.5rem 0;
    font-size: 2rem;
    color: rgb(99, 99, 100);
    font-family: "Protest Strike", sans-serif;
}

p {
    font-size: 1.3rem;
    color: rgb(161, 155, 155);
    font-family: "Playfair", serif;
}

.top-button {
        display: flex;
    }

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 10px;
    background-color: whitesmoke;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    height: auto; 
}

#backToTop:hover {
    background-color: #b41111;
    color: white;
}


@media (max-width: 740px) {
    .grid {
    grid-template-columns: 1fr;
    }

    .main-container {
    padding: 1rem;
    }

    h1 {
        font-size: 2.7rem;
    }
}

@media (min-width: 1400px) {
    h1 {
      font-size: 7rem;
    }
}