* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--background-body);
    line-height: var(--text-line-height);
    
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header {
    background-color: var(--background-elements);
    text-align: var(--heading-footer-align);
    cursor: none;
    font-family: var(--font-doppelkopf);
}

.main-container {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
    flex: 1; 
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.card {
    background-color: var(--background-elements);
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-card);
    cursor: pointer;
    transition: transform 0.03s ease;
}

.card:hover {
    transform: scale(1.02);
}

a {
    text-decoration: none;
}

svg {
    color: rgb(90, 161, 90);
}

h1 {
    margin: 0.5rem 0;
    font-size: var(--size-doppelkopf);
    color: var(--color-doppelkopf);
}

h2 {
    margin: 0.5rem 0;
    font-size: var(--size-subtitle);
    color: var(--color-section);
    font-family: var(--font-subtitle);
    text-align: var(--heading-footer-align);
}

h2 [data-lucide], 
h2 svg.lucide {
    width: 50px;
    height: 50px;
    stroke: var(--color-section);
    stroke-width: 1.5px; /* Dicke der Linien */
    fill: none;       /* Lucide Icons sind meist nur Linien */
    vertical-align: middle;
    margin-right: 5px;
}

@media (max-width: 740px) {
.grid {
    grid-template-columns: 1fr;
}

.main-container {
    padding: 1rem;
}

h1 {
    font-size: 3rem;
}
}

@media (min-width: 1400px) {
h1 {
    font-size: 7rem;
}
}