.navbar {
    background-color: var(--background-elements);
    display: flex;
    justify-content: space-between;
    align-items: var(--heading-footer-align);
    padding: 10px 10px;
    border-radius: 8px;
    margin: 20px 5px 0 5px;
    height: 50px;
    transition: height 0.1s ease-in-out;
    font-family: var(--font-navbar);
}

.hidden-iframe {
    display: none;
}

#close-icon {
    display: none; /* Startzustand ausgeblendet */
}


.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: var(--heading-footer-align);
    list-style: none;
    padding: 0;
    margin: 0;
}
    
.nav-links li {
    position: relative; 
    padding: 0 20px;
    font-size: 16pt;
    text-align: left;
    white-space: nowrap;
    font-family: var(--font-navbar);
}

.nav-links a {
    text-decoration: none;
    color: var(--color-doppelkopf);
    font-weight: 400;
}

.nav-links a:hover {
    text-decoration: none;
    color: #f18383;
}

.navbar-expanded {
    height: 150px;
}

.toggle-button {
    cursor: pointer;
    display: none;
    float: right;
    margin-left: auto;
}

.logohome {
    text-decoration: none;
    font-family: var(--font-navbar);
    font-weight: normal;
    font-size: 30pt; 
    display: flex; 
    color: var(--color-doppelkopf);
}

.logohome:hover {
    text-decoration: none;
    color: #f18383;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-radius: 0; /* optional: abgerundet entfernen */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Schatteneffekt */
}





@media (max-width: 1400px) {
.logohome {
        font-size: 18pt; 
    }
}


@media (max-width: 740px) {

.navbar {
    margin: 10px 5px 0 5px;
    padding: 1vh;
    height: auto;
}

.navbar.expanded {
    height: auto; 
    transition: var(--transiton-duration);
}

   
.nav-links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 50px;
    width: 100%;
}

.nav-links li {
    padding: 0;
    font-size: 13pt;
    margin: 0;
}

           
.toggle-button {
    display: flex;
    color: rgb(113, 122, 124);
}


.toggle-button:hover {
    color: rgb(155, 122, 138);
    font-weight: bold;
}

.nav-links.active {
    display: flex;
}


.logohome {
    color: rgb(113, 122, 124);
    text-decoration: none;
    font-weight: normal;
    font-size: 16pt; 
    display: flex;
    height: auto;
}

.nav-links a:hover {
    text-decoration: none;
    color: rgb(155, 122, 138);
    font-weight: bold;
}

.logohome:hover {
    text-decoration: none;
    color: rgb(155, 122, 138);
    font-weight: 400;
}
}



