:root {
    /* Farben */
    --background-body: #798675;
    --background-elements: #262e28;
    --background-backtop: #f18383;
    --color-backtop: #000000;
    --color-doppelkopf: rgb(113, 122, 124);
    --color-title:  rgb(17, 19, 17);
    --color-subtitle: rgb(15, 15, 15);
    --color-section: rgb(150, 150, 150);
    --color-text: #000000;
    --color-pretext: #363131;
    --color-img-elements: rgb(4, 19, 6);
    --color-icons-rules: rgb(0, 0, 0);

    /* Schriftarten */
    --font-doppelkopf: 'Rubik Mono One', sans-serif;
    --font-title: 'Rubik Mono One', sans-serif;
    --font-subtitle: 'Protest Strike', sans-serif;
    --font-text: 'Playfair', serif;
    --font-navbar: 'Protest Strike', sans-serif;

    /* Schriftgrößen */
    --size-doppelkopf: 5rem;
    --size-title: 5rem;
    --size-subtitle: 2rem;
    --size-text: 1.3rem;
    --size-img-elements: 1.5rem;
    --size-icons-rules: 1.3rem;


    /* Typographie */
    --text-line-height: 1.4;
    --heading-footer-align: center;      
    --text-align-default: left;   

    /* Abstände (Spacing) */
    --spacing-title: 5rem;
    --spacing-subtitle: 0rem;


    /* Schatten */
    --shadow-card: 0 10px 20px rgba(0, 0, 0, 0.5);

    /* Border-Radius */
    --border-radius: 10px;

    /* Transitionen */
    --transition-duration: 0.3s ease;
}